<a href="https://colab.research.google.com/github/15richa/IntellipaatAssignment3/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2
3

3

In [ ]:
2+3

5

In [ ]:
a=2
b=3
print(a)

2

In [ ]:
a=2
type(a)

int

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
a='sssss'
b="dssss"
print(a)
print(b)

sssss
dssss

In [ ]:
int('2')

2

In [ ]:
x=input('enter the value')

enter the value20

In [ ]:
x=int(input("enter the value"))

enter the value20

In [ ]:
print (type(x))

<class 'int'>

In [ ]:
5//2

2

In [ ]:
3>=2

True

In [ ]:
true and False

NameError: ignored

In [ ]:
1&0

0

In [ ]:
1^0

1

In [ ]:
x = input('Enter x=')
y = input('Enter y=')
z=x+y
print('z')

Enter x=1
Enter y=2
z

In [ ]:
x = input('Enter x=')
y = input('Enter y=')
z=("x+y")
print("The sum is",z)

Enter x=1
Enter y=2
The sum is x+y

In [ ]:
2





2213
if(3>2):
  print(3)
  else
  print(2)

SyntaxError: ignored

In [ ]:
if(3>2):
  print(3)
else
print(2)

SyntaxError: ignored

In [ ]:
if(3>2):
  print("3")
else:
  print("2")

3

In [ ]:
if((year % 400==0) or
   (year % 100!=0) and
   (year % 4==0)):
   print("given year is a leap year");
else:
   print("not a leap year")
year = int(input("enter the no:"))
checkleap(year)

NameError: ignored

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(10,1,-1):
  print (i)

10
9
8
7
6
5
4
3
2

In [ ]:
n=int(input("enter number:"))

fact=1
for i in range(n,1,-1):
  fact=fact*i
print("factorial is ",fact)

enter number:5
factorial is  120

In [ ]:
for i in range (1,6):
  for j in range (1,i+1):
    print (j,end="")
  print()

1
12
123
1234
12345

In [ ]:
n = int(input("Enter number"))
sum = 0
# loop from 1 to n
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of first ", n, "numbers is: ", sum)
average = sum / n
print("Average of ", n, "numbers is: ", average)

Enter number4
Sum of first  4 numbers is:  10
Average of  4 numbers is:  2.5

In [ ]:
m = int(input("enter a number:"))
n = int(input("enter a second number:"))
sum = 0

while m<=n:
  sum=sum+m
  m=m+1
  

print(sum)

enter a number:3
enter a second number:5

In [ ]:
m = int(input("enter a number:"))
n = int(input("enter a second number:"))
sum = 0

while m<=n:
  sum=sum+m
  m=m+1
  

print(sum)

enter a number:2
enter a second number:4
9

In [ ]:
# list of numbers
list1 = [10, -21, 4, -45, 66, -93, 1]
 
pos_count, neg_count = 0, 0
 
# iterating each number in list
for num in list1:
 
    # checking condition
    if num >= 0:
        pos_count += 1
 
    else:
        neg_count += 1

 
print("Positive numbers in the list: ", pos_count)
print("Negative numbers in the list: ", neg_count)

Positive numbers in the list:  4
Negative numbers in the list:  3

In [ ]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 456
456 is not an Armstrong number

In [ ]:
binary = input("enter a binary number:")
#calling a function
BinaryToDecimal(binary)

def BinaryToDecimal(binary):
  decimal = 0
  for digit in binary :
    decimal = decimal*2 + int(digit)
  print("the decimal value is:",decimal)

enter a binary number:10
the decimal value is: 2

In [ ]:
n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print("Reverse of the number:",rev)

Enter number: 543
Reverse of the number: 345

In [ ]:
import math
print("The gcd of 50 and 10 is:")
print(math.gcd(50,10))

The gcd of 50 and 10 is:
10

In [ ]:
x=[1.2.3.4.5]
x[0::2]

SyntaxError: ignored

In [ ]:

n = 5

# Check if the number is greater than 1

if n > 1:
	for i in range(2, int(n/2)+1):
		if (n % i) == 0:
			print(num, "is not a prime number")
		break
	else:
		print(n, "is a prime number")
# If the number is less than 1, its also not a prime number.
else:
	print(n, "is not a prime number")

In [ ]:
list=['ab','a','abc']
list.sort()
print(list)

['a', 'ab', 'abc']

In [ ]:
list=['1','2','3','4']
print(max(list))

4

In [ ]:
list=['1','2','3','4']
print(min(list))

1

In [ ]:
# Python Example: use list as stack 

# Declare a list named as "stack"
stack = [10, 20, 30]
print ("stack elements: ");
print (stack)

# push operation 
stack.append(40)
stack.append(50)
print ("Stack elements after push opration...");
print (stack)

# push operation 
print (stack.pop (), " is removed/popped...")
print (stack.pop (), " is removed/popped...")
print (stack.pop (), " is removed/popped...")
print ("Stack elements after pop operation...");
print (stack)

stack elements:
[10, 20, 30]
Stack elements after push opration...
[10, 20, 30, 40, 50]
50  is removed/popped...
40  is removed/popped...
30  is removed/popped...
Stack elements after pop operation...
[10, 20]

In [ ]:
t = tupple()
print(t)

NameError: ignored

In [ ]:
y=(2,)
print(type(y))

<class 'tuple'>